CompileFlags:
  CompilationDatabase: build
  Add:
    - -Wall
    - -Wpedantic
    - -Wconversion
    - -Wsign-conversion
    - -Wshadow
    - -Wnon-virtual-dtor
    - -Wcast-align
    - -Wunused
    - -Wunused-parameter
    - -Wunused-variable
    - -Wunused-function
    - -Wswitch
    - -Wswitch-enum
    - -Wunreachable-code
    - -Wfloat-equal
    - -Wdouble-promotion
    - -Wlogical-op
    - -Wnull-dereference
    - -Wduplicated-branches
    - -Wduplicated-cond
    - -Wdeprecated
    - -Wstrict-overflow
    - -Wunsafe-loop-optimizations
    - -Wstack-protector
    - -Wcast-qual
    - -Wnonnull
    - -Wpointer-arith
    - -Wbad-function-cast
    - -Wnoexcept
  Remove:
    - -mno-direct-extern-access
  Compiler: g++
Index:
  Background: true
Diagnostics:
  ClangTidy:
    Add:
      - '*'
    Remove:
      - altera-unroll-loops
      - bugprone-casting-through-void
      - bugprone-easily-swappable-parameters
      - cppcoreguidelines-avoid-c-arrays
      - cppcoreguidelines-avoid-const-or-ref-data-members
      - cppcoreguidelines-avoid-do-while
      - cppcoreguidelines-avoid-goto
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-non-private-member-variables-in-classes
      - cppcoreguidelines-owning-memory
      - cppcoreguidelines-pro-bounds-array-to-pointer-decay
      - cppcoreguidelines-pro-bounds-pointer-arithmetic
      - cppcoreguidelines-pro-type-cstyle-cast
      - cppcoreguidelines-pro-type-vararg
      - fuchsia-default-arguments-calls
      - fuchsia-default-arguments-declarations
      - fuchsia-overloaded-operator
      - fuchsia-statically-constructed-objects
      - google-readability-braces-around-statements
      - google-readability-casting
      - google-runtime-int
      - hicpp-avoid-c-arrays
      - hicpp-avoid-goto
      - hicpp-braces-around-statements
      - hicpp-no-array-decay
      - hicpp-use-auto
      - hicpp-vararg
      - llvmlibc-callee-namespace
      - llvmlibc-implementation-in-namespace
      - llvmlibc-inline-function-decl
      - llvmlibc-inline-function-decl
      - llvmlibc-restrict-system-libc-headers
      - misc-non-private-member-variables-in-classes
      - misc-use-anonymous-namespace
      - modernize-avoid-c-arrays
      - modernize-use-auto
      - modernize-use-trailing-return-type
      - readability-braces-around-statements
      - readability-identifier-length
      - readability-magic-numbers
    MissingIncludes: Strict
Completion:
  AllScopes: Yes
  ArgumentLists: Delimiters
  HeaderInsertion: IWYU
  CodePatterns: All
InlayHints:
  Enabled: false
