#################################
# Client's interface parameters #
#################################
[Interface]

# The result of the `dw genkey` command
PrivateKey = <private key>

# Yours peer IP address and net mask
# Check with the server administrator
# *Not necessary
Address = 10.0.0.25/24

# Local port to listen responses from the server and from other peers
# Default: 58094
Listen = 58094

# Maximum transmission unit
# This value can't be more than 1500
# Default: 1420
MTU = 1420

# Scripts to run before/after the interface is up/down
# *Not necessary
PreUp =
PostUp =
PreDown =
PostDown =

#######################
# Server's parameters #
#######################
[Server]

# The server's public key, result of `dw pubkey <server private key>` command
# Check with the server administrator
PublicKey = <server's public key>

# Server's ip:port
# Check with the server administrator
Endpoint = 1.1.1.1:2500
