#################################
# Server's interface parameters #
#################################
[Interface]

# The result of the `dw genkey` command
PrivateKey = <private key>

# Yours server IP address and net mask
Address = 10.0.0.1/24

# Maximum transmission unit
# Do not change the value until you are sure
MTU = 1420

# Scripts to run before/after the interface is up/down
PreUp =
PostUp =
PreDown =
PostDown =

##############
# Peers list #
##############
[Peers]

# List of peer's public keys,
# the result of the `dw pubkey <private peer key>` command
cwSzmrb91NhdqPVGFst8VBpxv+ksPoA502Emz1qYSnw=
kTEJhY3xpBoFJ4Z9ivDz9pwc9l9EgGaNXdwrQOtBXVk=
aNaDaECYZ4dS+RZGLuxuuzkpTmrckrdCWOV2WnAwHW4=
xGs4YRgl1aK8UgC4jowb1iHPqrgmmGuUgynFzTFezBI=
1igpAes56OgVrSEkum8sQJ1pwKo/owFblHuZiMg6CGM=
